.before-after-select {
  position: relative;
  overflow: hidden;
  left: -20px;
}

.before-after-select::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 60px;
  transform: rotate(-32deg);
  left: 20px;
  top: -5px;
  background-color: black;
}

.before-after-select::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 60px;
  transform: rotate(23deg);
  left: 47px;
  top: -7px;
  background-color: black;
}
