.before-after-select {
  position: absolute;
  width: 50px;
  height: 50px;
  overflow: hidden;
  top: -20px;
  background: transparent;
  transition:  0.3s ease;
}

.before-after-select::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 40px;
  transform: rotate(-38deg);
  left: 12px;
  background-color: black;
  border-radius: 0 0 10px 2px;
}

.before-after-select::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 40px;
  transform: rotate(30deg);
  left: 33px;
  top: -2px;
  background-color: black;
}
